# Site URL for sitemap generation

# This will be used by nuxt-simple-sitemap to generate absolute URLs

# If not set, it defaults to https://www.davidsabalete.com in production

NUXT_PUBLIC_SITE_URL=https://www.davidsabalete.com
NUXT_OG_IMAGE_SECRET=1ab1fc66138e3aacbd71b9f608e5bce5dca31613aff0b6ed18e5f6e5d439070e
EMAIL_USER="emailappuser@hotmail.com"
EMAIL_PASSWORD="EMAIL APP PASSWORD"
EMAIL_TO="destination@hotmail.com"

# Chatbot API Gateway (Lambda)

# When set, the chatbot sends messages to this endpoint instead of the local mock.

# Leave unset to keep using mock replies.

NUXT_PUBLIC_CHATBOT_API_URL=https://<API_ID>.execute-api.<REGION>.amazonaws.com/Prod/
