# Site URL for sitemap generation

# This will be used by nuxt-simple-sitemap to generate absolute URLs

# If not set, it defaults to https://www.davidsabalete.com in production

NUXT_PUBLIC_SITE_URL=https://www.davidsabalete.com
NUXT_OG_IMAGE_SECRET=1ab1fc66138e3aacbd71b9f608e5bce5dca31613aff0b6ed18e5f6e5d439070e
